.loginContainer {
  min-width: 100%;
  height: 90vh;
  background: url("https://i.imgur.com/x8Xh39y.png") no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .imgBackground {
    width: 100%;
  }

  .formInside {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 546px;
    background: url("https://i.imgur.com/SEPF5gx.png") no-repeat;
    background-size: 100%;

    .textTop {
      font-family: 'Inter', sans-serif;
      color: #47036E;
      font-size: 24px;
      line-height: 29px;
      margin-top: 84px;
      margin-bottom: 48px;

    }

    .inputForm {
      color: #6A2B91;
      width: 85%;
      background-color: transparent;
      border: 0;
      border-bottom: 2px dashed #6A2B91;
      outline: none;
      font-style: italic;
      font-family: 'Inter', cursive;
      font-size: 18px;
      margin-bottom: 48px;
    }

    .buttonLogin {
      padding: 10px;
      font-family: 'Inter', sans-serif;
      border: 0;
      color: white;
      width: 85%;
      border-radius: 27px;
      background-color: #6A2B91;

      &:hover {
        background-color: #8332b6;
      }
    }

    .errorText {
      max-width: 95%;
      margin-top: 8px;
      color: red;
    }

    .bottomContainer {
      display: flex;
      align-items: center;
      margin-top: 64px;

      .lower_button {
        background-color: transparent;
        border: 0;
        color: rgba(106, 43, 145, 0.45);
        font-family: 'Inter', sans-serif;
        font-style: italic;
        font-weight: 400;
        line-height: 17px;

        &:hover {
          color: rgba(106, 43, 145, 0.85);
        }
      }

      .divider {
        color: rgba(106, 43, 145, 0.45);
        font-family: 'Inter', sans-serif;
        font-style: italic;
        font-weight: 400;
        line-height: 17px;
        margin: 0;
      }
    }
  }
}
